@charset "UTF-8";

/* Versão para todos os dispositivos */

/* Typical Device Breakpoints 
-----------------------------
Pequenas telas ate 600px
Celular: de 600px ate 768px
tablet: 768px ate 992px
desktop: 992px ate 1200px
grandes telas acima de 1200px

*/

@media print {

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#tablet {
        display: block;
    }
    img#phone {
        display: none;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#pc {
        display: block;
    }
    img#phone, img#tablet {
        display: none;
    }
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#tv {
        display: block;
    }
    img#phone, img#tablet, img#pc {
        display: none;
    }

}